POSTGRES_DB=sgx_sistema_chamados
POSTGRES_USER=sgx_user
POSTGRES_PASSWORD=defina_uma_senha_forte_aqui
POSTGRES_PORT=5432

API_PORT=8080
FRONTEND_PORT=8081

CORS_ALLOWED_ORIGIN_0=https://sgx.exemplo.com
CORS_ALLOWED_ORIGIN_1=https://www.sgx.exemplo.com

AUTH_LOGIN_LOCAL_HABILITADO=true
AUTH_JWT_LOCAL_ISSUER=SGX.Local
AUTH_JWT_LOCAL_AUDIENCE=SGX.SistemaChamado.Api
AUTH_JWT_LOCAL_CHAVE_ASSINATURA=defina_uma_chave_forte_com_ao_menos_32_caracteres

EMAILWORKER_IMAPHOST=imap.exemplo.com
EMAILWORKER_IMAPPORTA=993
EMAILWORKER_USUARIO=sgx@exemplo.com
EMAILWORKER_SENHA=defina_a_senha_real_via_secret_ou_env_no_servidor
EMAILWORKER_PASTA=INBOX
EMAILWORKER_SSLHABILITADO=true
EMAILWORKER_TLSHABILITADO=false
EMAILWORKER_INTERVALOSEGUNDOS=60
EMAILWORKER_MAXMENSAGENSPORCICLO=20
EMAILWORKER_MARCARCOMOLIDAAOPROCESSAR=true
EMAILWORKER_MOVERPROCESSADAS=false
EMAILWORKER_PASTAPROCESSADAS=Processadas
EMAILWORKER_MOVERCOMERRO=false
EMAILWORKER_PASTAERRO=Erro
