# Build backend
target/
build/

# Build frontend
dist/
.quasar/
node_modules/
GETI.SistemaChamado.UI/dist/
GETI.SistemaChamado.UI/.quasar/
GETI.SistemaChamado.UI/node_modules/

# IDE
.idea/
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Ferramentas locais
.tools/
*.zip
*.msi
*.rar
*.7z

# Java
*.class
*.jar
*.war
*.ear

# Ambientes locais e sensiveis
.env
.env.local
.env.*.local
